@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Gohan";
  src: url("/fonts/Gohan.woff2") format("woff2");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("/fonts/SVN-Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("/fonts/SVN-Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("/fonts/SVN-Gilroy-XBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gohan: "Gohan", sans-serif;
  --font-gilroy: "SVN-Gilroy", sans-serif;

  --color-gema-mint: #88ffbd;
  --color-gema-sky: #90d5ee;
  --color-gema-pink: #ff9ced;
  --color-gema-purple: #5d4bd8;
  --color-gema-blue: #3b6db3;
  --color-gema-navy: #2d2e74;
  --color-gema-teal: #105a74;
  --color-gema-tosca: #10b5ae;
  --color-gema-ocean: #1a8493;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gohan);
}
